@font-face {
  font-family: 'fira_sans';
  src: url('fonts/firasansot-ligh-webfont.eot');
  src: url('fonts/firasansot-ligh-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/firasansot-ligh-webfont.woff') format('woff'),
       url('fonts/firasansot-ligh-webfont.ttf') format('truetype'),
       url('fonts/firasansot-ligh-webfont.svg#fira_sans') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans';
  src: url('fonts/firasansot-regular-webfont.eot');
  src: url('fonts/firasansot-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/firasansot-regular-webfont.woff') format('woff'),
       url('fonts/firasansot-regular-webfont.ttf') format('truetype'),
       url('fonts/firasansot-regular-webfont.svg#fira_sans') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans';
  src: url('fonts/firasansot-medium-webfont.eot');
  src: url('fonts/firasansot-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/firasansot-medium-webfont.woff') format('woff'),
       url('fonts/firasansot-medium-webfont.ttf') format('truetype'),
       url('fonts/firasansot-medium-webfont.svg#fira_sans') format('svg');
  font-weight: 500;
  font-style: normal;
}

.fira_sans {
  font-weight: 400;
  font-family: 'fira_sans';
}

.fira_sans_light {
  font-weight: 300;
  font-family: 'fira_sans';
}

.fira_sans_medium {
  font-weight: 500;
  font-family: 'fira_sans';
}
